<div class="picsum-img-wrapper" [ngStyle]="{'height': heightScreen + 'px'}">
    <div
        style="background: url(assets/bg-min.jpg)
           ;height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">

        <div style="height: 100%;background: #00000066;"></div>


        

        <div class="carousel-caption  ml-auto " style="width: 60%;">
                <div class="row ">
                  <div class="col ">
                    <span style = "position: relative;top: -20px;">
                        <h1 class="text-white text-uppercase laptop-margin" style="font-size: 2.5rem; ">Donate</h1>
                        <h2 class="text-white text-uppercase " style="font-size: 1.5rem;">For The Helpless PEOPLE</h2>
                    </span>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <p class="text-white font-weight-400 float-right text-justify">
                        THE GODS HAND connects nonprofits, donors, <br />
                        and organisations in almost every country on the planet.<br />
                        We assist other NGOs in obtaining the resources, funds, <br />
                        and assistance they require to serve their communities.
                    </p>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target laptop-margin-button"
                    (click)="globalService.where = ''" routerLink="orphenages">Donate
                    Now</a>
                  </div>
              </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="my-5 mb-0 mb-lg-5 text-uppercase text-center">Our <span class=" text-theme-colored">ORGANISATIONS</span>
    </h2>
    <div class="row">
        <div class="col-12 col-lg-4 pt-3 my-lg-0" (click)="globalService.where = ''"
            *ngFor="let orphonage of orphonages">
            <div style="box-shadow: 0px 0px 3px 2px #ddd;min-height: 400px;border-radius: 10px;height: auto;">
                <div style="height: 250px;position: relative; background-color: black; border-radius: 10px;">
                    <ng-container
                        *ngIf="orphonage.photos_links && orphonage.photos_links[0] && orphonage.photos_links[0].length != 0">
                        <!-- <div (click)="goToDetails(orphonage)"
                            [ngStyle]="{'background-image':'url('+globalService.web_site+orphonage.photos_links[0].filepath+')'}"
                            style="cursor: pointer;height: 180px;background-position: center;background-size: contain;background-repeat: no-repeat;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                        </div> -->
                        <div *ngIf="orphonage.photos_links && orphonage.photos_links.length != 0"
                            (click)="goToDetails(orphonage)" style="text-align: center; width: 100%; height: inherit;">
                            <img [src]="globalService.web_site+orphonage.photos_links[0].filepath"
                                style="cursor: pointer; height: 100%; border-radius: 10px; width: 90%;" />
                        </div>
                    </ng-container>
                </div>
                <div class="px-2 py-3" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">

                    <div>
                        <div class="d-flex" style="align-items: center;justify-content: space-between;">

                            <!-- Heading -->
                            <h5 class="text-theme-colored mb-0" (click)="goToDetails(orphonage)"
                                style="cursor:pointer;width: 100%; font-weight: 500;font-size: 19px;text-align: center;text-transform: capitalize; height: 60px; color:rgba(0, 140, 155, 1) !important">
                                {{orphonage.heading}}
                            </h5>


                        </div>
                    </div>

                    <div class="mt-3" style="align-items: center; justify-content: center; width: 100%; display: flex;">
                        <div style="display: flex;">
                            <img style="width: 30px !important; margin-left: 10px;" src="assets/by_icon.jpg" />
                            <span style="font-size: 14px;max-width: 296px;" class="text-color; mx-1">{{"by " +
                                orphonage.name}}
                            </span>
                        </div>
                    </div>

                    <div class="mt-3  d-flex" style="justify-content: space-between;">
                        <a class="btn btn-theme-colored" (click)="goToDonate(orphonage)">Donate Now</a>
                        <a class="btn btn-theme-colored" (click)="goToDetails(orphonage)">More Info </a>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-12 text-center my-5">
            <a style="font-size: 20px;" class="btn btn-colored btn-theme-colored text-center font-size"
                (click)="globalService.where = ''" routerLink="orphenages">MORE ORGANISATIONS<i
                    class="far px-2 fa-arrow-alt-circle-right"></i></a>
        </div>
    </div>
</div>

<h2 class="my-5 text-uppercase text-center">About <span class=" text-theme-colored">Us.</span></h2>
<section class="about-us mt-5">
    <div class="container" style="height: 650px;">
        <ngb-carousel [interval]="3000" [pauseOnHover]="true" [pauseOnFocus]="true" [showNavigationIndicators]="false">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div class="py-5">
                        <h1 class="text-center">We’re caring for families around the world through our 3 core programs
                        </h1>
                        
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                        <div class="py-5 text-center">
                            <h2>Ronald McDonald House Programs</h2>
                            <p>
                                are a home away from home that provide comfort, support and resources to families who
                                travel far from home for the medical care their child needs.
                            </p>
                            <div>
                                <img src="assets/about-us-img1.webp" alt="About us image" />
                            </div>
                            <a class="btn btn-theme-colored mt-4">Learn More</a>

                        </div>
                        
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                        <div class="py-5 text-center">
                            <h2>Ronald McDonald Family Room programs</h2>
                            <p>provide comfort to families right in the hospital, giving them a private place to relax
                                or decompress.</p>
                            <div>
                                <img src="assets/about-us-img1.webp" alt="About us image" />
                            </div>
                            <a class="btn btn-theme-colored mt-4">Learn More</a>

                        </div>
                       
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<div class="container">
    <app-contact-us></app-contact-us>
</div>